.container {
  min-height: 100vh;
  background-color: rgb(249 250 251);
  padding: 3rem 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #005d55;
}

@media (min-width: 640px) {
  .container {
    padding: 3rem 1.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 3rem 2rem;
  }
}

.wrapper {
  max-width: 56rem;
  margin: 0 auto;
}

.featureList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.featureCard {
  background-color: #f3f4f6;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: box-shadow 0.2s;
  width: 70%;
  margin: 0 auto;
}

.featureCard:hover {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  background-color: #e5e7eb;
  transition: all 0.2s ease-in-out;
}

.iconWrapper {
  flex-shrink: 0;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(17 24 39);
  margin-bottom: 0.5rem;
}

.description {
  color: rgb(75 85 99);
}

.footer {
  margin-top: 2rem;
  text-align: center;
}

.poweredBy {
  color: rgb(75 85 99);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.logo {
  height: 1.5rem;
}

.icon {
  color: #005d55;
  width: 2rem;
  height: 2rem;
}

.header {
  margin-bottom: 2rem;
  text-align: center;
}

.welcomeText {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: #090a0a;
}

.companyLogo {
  height: 80px;
  margin: 0 auto;
}
